.graph-container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.sidebar {
  width: 20vw;
  min-height: 100vh;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.3s ease;
  padding-top: 100px;
}

.sidebar.open {
  left: -350px; 
}

.sidebar-toggle {
  cursor: pointer;
  padding: 15px;
  color: #fff;
  position: fixed;
  top: 15px;
  left: 15px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.nav {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  padding: 15px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #555;
}

.active {
  background-color: #555;
  color: greenyellow;
}

@media (max-width: 768px) {
  .sidebar {
    width: 160px; 
    z-index: 3;
  }
  .sidebar.open {
    left: -160px; 
  }
  .sidebar-toggle {
    left: 5px;
  }
  .nav-item {
    padding: 15px 5px;
    text-align: center;
  }
}
